body{
			height: 100%;
			margin:0;
			font-family: arial;
			background-color: #eae3e3;
					
		}
		div{
			
			height: 100%;
		}
		header{
			position: fixed;
			width: 100%;
			height: 90px;
			background: #26682d;
			color: #c9a9a9;
			z-index: 2;
		}
		#img{
			padding: 15px 0 0 20px;
		}
		ul{
			float: right;
			
		}

		#right{
			margin-right: 40px;
			visibility: hidden;
		}

		#right li{
			margin: 10px;
		}
		#right li a{
			margin-right: 20px;
		}
		#cont{
			position: relative;
			top: 80px;
			z-index: 1;
		}

		ul>li{
			margin: 20px 20px 0 0;
			display: inline-block;
		}
		textarea{
			position: fixed;
			bottom: 0;
			margin: 0 0 10px 20px;
			border-radius: 20px;
			outline: none;
			padding: 0px 20px 0 20px;
			resize: none;
			border:none;
			caret-color:#2e8962;
			overflow: hidden;

		}

		footer{
			position: fixed;
			bottom: 0;
			width: 100%;
			
		}
		#res{
			float: right;
			margin: 15px 200px 12px 0;
		}
		
		textarea::placeholder{
			line-height: 45px;
			color: #bab2b2;
		}
		#cont>li{

			position: absolute;
			padding:10px;
			background-color: #64af9e;
			border-radius: 20px;
			margin:20px;
			max-width: 100px;
			list-style: none;
		}

		content ul{
			clear: both;
			float: right;
			list-style: none;
			margin-top: 40px;
			
		}

		a{
			text-decoration: none;
			color: black;
		}

		content ul li{
			top: 150px;
			position: relative;
			display: block;
			max-width: 100px;
			margin:20px;
			border-radius: 20px;
			padding: 10px;
			background-color: #64af9e;
			width: max-content;

		}

		#apnd{
			padding:10px;
			background:#bfafaf;
			border-radius: 20px;
			max-width: 80px;
			position: relative;
			display:block;
			margin-left: 20px;
		}
		#diff{
			padding: 10px;
			background-color: red;
			max-width: 80px;
		}
		
